@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

.navbar {
  background-color: white;
}

.content {
  padding-top: 40px;
  padding-bottom: 100px;
}

.footer {
  background-color: #232323;
  padding: 30px;
  color: white;
  font-family: 'MyWebFont';

  .row {
    margin-left: 20px;
  }

  .social {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .terms {
    margin-top: 10px;
  }
}

.imgbg {
  background-image: url('../images/img_background@2x.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
